.pink {
    background-color: pink;
}

.purple {
    background-color: rgb(194, 121, 194);
}

.blue {
    background-color: rgb(121, 121, 253);
}

.green {
    background-color: rgb(137, 208, 137);
}

.yellow {
    background-color: rgb(247, 247, 133);
}

.orange{
    background-color: rgb(251, 198, 99);
}

.red {
    background-color: rgb(246, 124, 124);
}